<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul class="edu">
            <li><h1 class="estudio">Estudio 1</h1> - <h3 class="years">(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At earum voluptatem doloribus saepe. Libero, ullam harum voluptatum excepturi distinctio sapiente a maiores itaque quasi</p>    
        </ul>
        <ul class="edu">
            <li><h1 class="estudio">Estudio 2</h1> - <h3 class="years">(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At earum voluptatem doloribus saepe. Libero, ullam harum voluptatum excepturi distinctio sapiente a maiores itaque quasi</p>    
        </ul>
        <ul class="edu">
            <li><h1 class="estudio">Estudio 3</h1> - <h3 class="years">(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At earum voluptatem doloribus saepe. Libero, ullam harum voluptatum excepturi distinctio sapiente a maiores itaque quasi</p>    
        </ul>
    </div>
</div>
