<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul class="lista">
            <li><h1 class="trabajo">Trabajo 1</h1> - <h3 class="years">(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At earum voluptatem doloribus saepe. Libero, ullam harum voluptatum excepturi distinctio sapiente a maiores itaque quasi</p>    
        </ul>
        <ul class="lista">
            <li><h1 class="trabajo">Trabajo 2</h1> - <h3 class="years">(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At earum voluptatem doloribus saepe. Libero, ullam harum voluptatum excepturi distinctio sapiente a maiores itaque quasi</p>    
        </ul>
        <ul class="lista">
            <li><h1 class="trabajo">Trabajo 3</h1> - <h3 class="years">(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At earum voluptatem doloribus saepe. Libero, ullam harum voluptatum excepturi distinctio sapiente a maiores itaque quasi</p>    
        </ul>
    </div>
</div>
        
            