.row{
    padding: 20px;
    
}
div{
    background: rgb(5, 3, 22);
}

h1{
    color: rgba(0, 217, 255, 0.747);
    display: inline;
}

.trabajo{
    color: aquamarine;
}

.years{
    color: aquamarine;
}

.lista{
    color: aquamarine;
}