<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md- col-lg-7 parte1">
            <h1>Botonera</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur cum quidem delectus repudiandae sapiente. Commodi a laudantium eos voluptates eaque, aliquid qui magnam fuga? Molestias asperiores facilis eveniet aperiam iure.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte 2">
            <img src="" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>