<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/image/FOTO CV NUEVA.jpg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Barrios Riveros Rodrigo</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor est iure qui expedita aut reprehenderit, perspiciatis sit officia eveniet maiores eum dicta! Quaerat fugit sapiente officia at sed? Quis, atque.
            Dolorum a veritatis omnis reprehenderit animi. Qui numquam ipsa dolorem corporis ea, doloremque, possimus quasi aut cum veritatis optio minus, voluptate voluptates iusto rerum accusamus suscipit blanditiis. Autem, sed? Illum?
            Quae officia saepe ratione odio necessitatibus voluptatibus alias a eligendi recusandae est, culpa magni sit neque dolor vel ex cumque, possimus eaque et illo harum iure consectetur? Veritatis, aliquam quam.
         culpa, totam rerum veritatis!</p>
        </span>
    </div>
</div>