<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/image/rodrig.png" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2>Barrios Riveros Rodrigo</h2>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p id="sobre-mi">"Soy una persona apasionada por los desafíos y el aprendizaje constante, tanto en mi vida personal como profesional. Siempre estoy en busca de nuevas oportunidades para crecer y superarme, incluso en los desafíos que parecen difíciles. Como docente, he desarrollado habilidades de comunicación y liderazgo, y disfruto trabajando en equipo para lograr objetivos comunes. Además, me encanta estar al aire libre y practicar deportes, lo que me ayuda a mantener un equilibrio saludable entre mi vida laboral y personal. Me gusta conocer a nuevas personas y creo que cada persona que conozco es una oportunidad para aprender algo nuevo y enriquecer mi vida".</p>
        </span>
    </div>
</div>